/*public*/
ul{
  list-style: none;
  margin: 0;
  padding:0;
}

.f_color{
color: rgb(77, 76, 76);
}

a{
  text-decoration: none;
  color: black !important;
}

h5{
  font-family :'NanumSquareRound';
}

h3{
  font-family :Impact, Haettenschweiler, 'NanumSquareRound', sans-serif;
}

p{
  font-family :Impact, Haettenschweiler, 'NanumSquareRound', sans-serif;
}

input{
  width: 350px;
  height:40px;
  font-size:16px;
  border:2px solid #8d8b8b;
  border-radius : 5px;
}

input[type=checkbox]{
  width:15px;
  height:15px;
}
body::-webkit-scrollbar{
  display:none;
}

.box{
  width:300px;
  height:300px;
  background-color:#61dafb;
  border-radius : 8px;
  margin : 20px;
}

.font {
  color :rgb(4, 76, 17);
  font-family :Impact, Haettenschweiler, 'NanumSquareRound', sans-serif;
  font-weight : bold;
}

.k_font{
  font-family : 'NanumSquareRound' !important;
}


/*login.js*/
.login{
  display: flex;
  width:100%;
  height:500px;
  text-align :center;
  justify-content: center !important;
  align-items: center;

}

.login > h5{
  color :#076a35;
}

.login_p{
  
  width:400px;
  height:200px;
  border-radius : 8px;
  background-color: #fff;
}

.login_input{
  margin-top: 40px;
}

.remember_id{
  display:flex;
  justify-content: flex-start;
  
}

.remember_id > input {
  margin : 5px 0 0 5px;
}

.remember_id > p{
  font-size: 15px;
  font-weight:500;
}

.login-button{
  width:400px;
  height:50px;
}

.login_nav{
  display: flex;
  font-size: 12px;
  justify-content: flex-start;
  padding: 0px;
}

.login_nav > a{
  margin : 3px 8px 0 0 ;
}
/*singin.js*/
.sign-in{
  width:100%;
  height:100vh;
  background-color:#4bbe70;
  position : relative;
}

.formbox{
  width:400px;
  height:600px;
  background-color:#fff;
  border-radius: 8px;
  box-shadow: 3px 3px 10px 1px #909090;
  position:absolute;
  top:50%;
  left:50%;
  transform : translate(-50%,-50%);
}

.sign-logo{
  display:flex;
  justify-content: flex-start;
  align-items: flex-end;
  margin : 15px 0 0 25px
}

.boxAlign:first-child{
  margin : 15px 0 0 25px;
}

.boxAlign:nth-child(3){
  margin : 5px 0 15px 25px;
}


.boxAlign{
  margin : 5px 0 0 25px;
}


.boxAlign p{
  font-size:15px;
  margin : 0 5px 2px 0;
  display:inline-block;
}

.boxAlign span{
  color:red;
}

.nameWarn{
  font-size:10px !important;
  color:red;
  font-family: 'NanumSquareRound';
  margin:5px 0 0 0;
  visibility: hidden;
  transition: all .2s;
  opacity:0;
}

.passwordWarn{
  font-size:10px !important;
  color:red;
  font-family: 'NanumSquareRound';
  visibility: hidden;
  transition: all .2s;
  opacity:0;

}

.passwordConfirmWarn{
  font-size:10px !important;
  color:red;
  font-family: 'NanumSquareRound';
  visibility: hidden;
  transition: all .2s;
  opacity:0;

}

.phoneNumberWarn{
  font-size:10px !important;
  color:red;
  font-family: 'NanumSquareRound';
  visibility: hidden;
  transition: all .2s;
  opacity:0;

}

/*APP.js*/
.App {
  width:auto;
  text-align: center;
  
}

.navbar-fnt a{
  color :#198754;
  font-family :Impact, Haettenschweiler, 'NanumSquareRound', sans-serif;
  font-weight : bold;
}

.d-flex > a{
  margin : 0 20px 0 20px
}

.top-part{
  display:inline-block;
  margin-top:20px;
  background-color: white;
}

.top-part > a > h3{
  margin:0 auto !important;
}

.navbar > .container{
  justify-content: center !important;
}

.btn-op{
  font-size:12px;
}

.d-flex{
  justify-content: center;
}
/*slide.js*/
.slideBg{
  display:block;
  width:100%;
  height:500px;
  margin-top:10px;
  overflow:hidden;
  margin-bottom : 20px;

}

.slideBg li{
  max-width:100%;
  max-height:100%;
}

.slideBg > ul{
  display:flex;
  flex-flow : row nowrap;
  transition : all 1.5s;
}


.wrapSlide{
  transform : translateX(0);
}

.popular_f{
  margin : 0 auto;
  font-weight:bold;
  margin-top: 20px;
}

.user-info{
  max-width : 100%;
  max-height: 300px;
  display :flex;
  flex-flow : row nowrap;
  margin : 20px 0 20px 0;
  overflow-X : scroll;
  overflow-y : hidden;
}

.user-info::-webkit-scrollbar{
  display:none;
}

.n_wrap{
  display:flex;
  flex-flow: row nowrap;
  align-items : center;
}

.rating_logo{
  width: 200px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rating_logo > h5{
  font-size: 40px;
  font-weight: 600;
}

.rating_logo > h5 > span{
  font-size : 50px;
  font-weight : bold;
}

/*ranking*/
.ranking{
  display:flex;
  flex-flow : row nowrap;
}

.back_side{
  width:300px;
  height:300px;
  background-color:black;
  opacity: 0;
  border-radius : 8px;
  transition: opacity .3s;
  visibility: hidden;
}

.ranking > li{
  position: relative !important;
}

.ranking > li > h3{
  position : absolute;
  top:50%;
  left:50%;
  transform : translate(-50%,-50%);
  color:white;
  visibility : hidden;
  opacity : 0;
  transition : all .3s;
  font-size : 40px;
  width: 100%;
}

.ranking > li > h2{
  position: absolute;
  top: 30%;
  left: 50%;
  transform : translate(-50% , -50%);
  color : white !important;
  opacity : 0;
  visibility : hidden;
  transition : all .3s;
}

.ranking > li:hover > h3{
  visibility :visible;
  opacity : 1;
}

.ranking > li:hover > .back_side{
  opacity : .3;
  visibility : visible;
}

.ranking > li:hover > h2{
  opacity : 1;
  visibility : visible;
}

.last-game {
  font-family :Impact, Haettenschweiler, 'NanumSquareRound', sans-serif;

}

.last-game h5{
  float:left;
  margin : 10px 0 0 5px;
}

.last-game h2{
  float:right;
  margin-top:50px;
}

.last-game p{
  float:left;
  margin : 80px 0 0 5px;
}

/*Weather.js*/
.weather{
  margin : 20px 20px 20px 200px !important;
}

.weather > p{
  margin : 0 auto;
}



.nav_color{
  background-color:rgb(4, 76, 17);
}

.logo{
  color:green;
  margin:10px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

