ul{
  list-style: none;
  margin: 0;
  padding:0;
}

.font {
  color :rgb(4, 76, 17);
  font-family :Impact, Haettenschweiler, 'NanumSquareRound', sans-serif;
  font-weight : bold;
}

.App {
  width:auto;
  text-align: center;
  
}

.navbar-fnt a{
  color :#198754;
  font-family :Impact, Haettenschweiler, 'NanumSquareRound', sans-serif;
  font-weight : bold;
}

.d-flex > a{
  margin : 0 20px 0 20px
}

.top-part{
  display:flex;
  flex-flow: row wrap;
  justify-content: center;
}

.navbar > .container{
  justify-content: center !important;
}

.btn-op{
  font-size:12px;
}

.d-flex{
  justify-content: center;
}

.slideBg{
  display:block;
  width:100%;
  height:500px;
  background-color:black;
  margin-top:10px;
  overflow:hidden;
  margin-bottom : 20px;
}

.slideBg li{
  max-width:100%;
  max-height:100%;
}

.slideBg > ul{
  display:flex;
  flex-flow : row nowrap;
  transition : all 1.5s;
}

.wrapSlide{
  transform : translateX(0);
}

.user-info{
  max-width : 100%;
  max-height: 400px;
  display :flex;
  justify-content: space-evenly;
  flex-flow : row nowrap;
  margin : 20px 0 20px 0;

}

.userscore{
  width: 200px;
  height: 200px;
  border-radius : 20px;
  border : 2px solid #198754;

}

.nav_color{
  background-color:rgb(4, 76, 17);
}

.logo{
  color:green;
  margin:10px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

