ul{
  list-style: none;
  margin: 0;
  padding:0;
}

.f_color{
color: rgb(77, 76, 76);
}

a{
  text-decoration: none;
  color: black !important;
}

h5{
  font-family :Impact, Haettenschweiler, 'NanumSquareRound', sans-serif;
}

h3{
  font-family :Impact, Haettenschweiler, 'NanumSquareRound', sans-serif;
}

p{
  font-family :Impact, Haettenschweiler, 'NanumSquareRound', sans-serif;
}

input{
  width: 400px;
  height:40px;
  font-size:22px;
  border:2px solid #8d8b8b;
  border-radius : 5px;
}

input[type=checkbox]{
  width:15px;
  height:15px;
}

.login{
  display: flex;
  width:100%;
  height:500px;
  text-align :center;
  justify-content: center !important;
  align-items: center;

}

.login > h5{
  color :#076a35;
}

.login_p{
  
  width:400px;
  height:200px;
  border-radius : 8px;
  background-color: #fff;
}

.login_input{
  margin-top: 40px;
}

.remember_id{
  display:flex;
  justify-content: flex-start;
  
}

.remember_id > input {
  margin : 5px 0 0 5px;
}

.remember_id > p{
  font-size: 15px;
  font-weight:500;
}

.login-button{
  width:400px;
  height:50px;
}

.login_nav{
  display: flex;
  font-size: 12px;
  justify-content: flex-start;
  padding: 0px;
}

.login_nav > a{
  margin : 3px 8px 0 0 ;
}

.sign_in{
  display: inline-block;
  width:100%;
  height:500px;
  text-align :center;
  margin:0 auto;
}

.sign_info{
  display:inline-block;
  width: 400px ;
  height: 500px;
  padding-top:50px;
}

.sign_info > p{
  margin-top:20px;
  text-align : left !important; 
}

.box{
  width:150px;
  height:150px;
  background-color:#61dafb;
  border-radius : 8px;
  margin : 20px;
}

.font {
  color :rgb(4, 76, 17);
  font-family :Impact, Haettenschweiler, 'NanumSquareRound', sans-serif;
  font-weight : bold;
}

.App {
  width:auto;
  text-align: center;
  
}

.navbar-fnt a{
  color :#198754;
  font-family :Impact, Haettenschweiler, 'NanumSquareRound', sans-serif;
  font-weight : bold;
}

.d-flex > a{
  margin : 0 20px 0 20px
}

.top-part{
  display:flex;
  flex-flow: row wrap;
  justify-content: center;
}

.navbar > .container{
  justify-content: center !important;
}

.btn-op{
  font-size:12px;
}

.d-flex{
  justify-content: center;
}

.slideBg{
  display:block;
  width:100%;
  height:500px;
  background-color:black;
  margin-top:10px;
  overflow:hidden;
  margin-bottom : 20px;
}

.slideBg li{
  max-width:100%;
  max-height:100%;
}

.slideBg > ul{
  display:flex;
  flex-flow : row nowrap;
  transition : all 1.5s;
}

.wrapSlide{
  transform : translateX(0);
}

.user-info{
  max-width : 100%;
  max-height: 400px;
  display :flex;
  flex-flow : row nowrap;
  margin : 20px 0 20px 0;
  overflow-X : scroll;
}

.user-info::-webkit-scrollbar{
  display:none;
}

.n_wrap{
  display:flex;
  flex-flow: row nowrap;
}

.weather{
  margin : 20px 20px 20px 200px !important;
}

.weather > p{
  margin : 0 auto;
}

.last-game {
  font-family :Impact, Haettenschweiler, 'NanumSquareRound', sans-serif;

}

.last-game h5{
  float:left;
  margin : 10px 0 0 5px;
}

.last-game h2{
  float:right;
  margin-top:50px;
}

.last-game p{
  float:left;
  margin : 80px 0 0 5px;
}



.nav_color{
  background-color:rgb(4, 76, 17);
}

.logo{
  color:green;
  margin:10px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

